<div id="products">
    <div id="product" *ngFor="let product of productsData" (click)="showProductDescription(product)">
        <img [src]="product.thumbnail" alt="">
        <h5>rating : {{ product.rating }}</h5>
        <h3>{{ product.brand_name }}</h3>
        <h5>{{ product.description }}</h5>
        <h4>
            {{ product.discountedPrice }} | 
            <!-- use pipe concept  -->
            <s>{{ product.price }}</s> ({{ product.discount }}% off)
        </h4>
        <h5>{{product.availabilityStatus}}</h5>
    </div>
</div>

<app-product-description 

  *ngIf = "showPopup"
  [showPopup]="showPopup"
  [selectedProduct]="selectedProduct" 
  (close)="hideProductDescription()">
</app-product-description>

