<div *ngIf="cartItems.length === 0">
  <p>Your cart is empty</p>
</div>
<div *ngIf="cartItems.length > 0">
  <h2>Your Cart</h2>
  <div *ngFor="let item of cartItems">
    <h3>{{ item.product.brand_name }}</h3>
    <p>{{ item.product.description }}</p>
    <p>{{ item.totalPrice }} USD</p>
    <div>
      <button (click)="decreaseQuantity(item)">-</button>
      <span>{{ item.quantity }}</span>
      <button (click)="increaseQuantity(item)">+</button>
    </div>
  </div>
  <button (click)="removeAll()">Remove all Items</button>
  <h2>{{getTotalCartAmount()}}</h2>
</div>