<h4>DAY1: Enter text to log on console : </h4>
<input type="text" (input)="updateInput($event)">
<button [disabled]="isDisabled" (click)="logInput()">Log Input</button>


<h4>Enter text to display onclick : </h4>
<input type="text" (input)="updateValue($event)">
<button [disabled]="isDisabled" (click)="displayText()">Display Text</button><br>
<p>{{ displayedText }}</p>

<h4>Enter text to see simultaniously :</h4>
<!-- <input [disabled]="isDisabled" id="inputField" type="text" [(ngModel)]="inputText3" /> -->
<h4>You entered: {{ inputText3 }}</h4>

<label>
    <input type="radio" name="isDisabled" (change)="setDisabled(true)" [checked]="isDisabled">  Disable
  </label>
  <label>
    <input type="radio" name="isDisabled" (change)="setDisabled(false)" [checked]="!isDisabled"> Enable
  </label>